---
layout: master
---

<div class="post">
    <section>
        <span class="post-date">{{ page.date | date_to_string }}</span><span class="post-category">{{ page.category }}</span>
    </section>
    <h1><a href="{{ post.url }}">{{ page.title }}</a></h1>
    <div class="body">{{ content }}</div>
    {% if page.tags %}
    <section class="tags">
        <span>Tagged in</span>
        {% for tag in page.tags | split: ',' %}
         <a title="Search posts tagged {{ tag }}" rel="tag" href="/blog/search.html?q={{ tag }}">{{ tag }}</a>
        {% endfor %}
    </section>
    {% endif %}
</div>